 .plus span:last-child {
     transform-origin: center center;
     transform: rotate(90deg);
     top: -3px;
     opacity: 1;
     transition: all .28s ease-in-out;
 }

 .question-header:hover {
     cursor: pointer;
 }

 .question-header.active .plus span:last-child {
     transform: rotate(0deg);
     opacity: 0; 
 } 
 
 .answer.active {
     display: block;
 }